<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
      <h5><%= tilte %></h5>
      <div><span><%= userInfo.name %></span>님 환영합니다.</div>
      <div>성별은 <span><%= userInfo.radio %></span></div>
      <div>생년월일은 <span><%= userInfo.sel1년 userInfo.sel1월 userInfo.sel1일  %></span>입니다.</div>
      <div>관심사는 <span><%= userInfo.check %></span></div>
</body>

        <br />
        <a href="/">홈으로 이동</a>
    </body>
</html>
