<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h5><%= tilte %></h5>
        <div><span><%= userInfo.name %></span>님 환영합니다.</div>
        <div>성별은 <span><%= userInfo.radio %></span></div>
        <div>
            <span><%= userInfo.sel1%></span>년 <span><%=userInfo.sel1%></span>월 <span><%=userInfo.sel1%></span>일
            입니다.
        </div>
        <div>관심사는 <span><%= userInfo.check %></span></div>
        <div>좋아하는 색상 <span><%= userInfo.color %></span></div>
        <div>관심사는 <span><%= userInfo.likeNum %></span></div>
    </body>
</html>
